<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Viaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

    </ion-card-header>

    <ion-card-content>

    </ion-card-content>

    <ion-card-footer>
    </ion-card-footer>
  </ion-card>
</ion-content>

-->

<!-- esto deberia ir dentro -->

<!-- 
    en un container que tenga solo:
- una imagen del recorrido
en otro que tenga esto:
- donde se viajo con el conductor que realizo el viaje
- el precio 
- modo de pago y el precio pagado
- la patente del vehiculo
- tiempo de transcurrido
en otro container tener diferentes filas con iconos cada uno que diga:
- lugar de partida
-lugar de destino
-clasificacion ( que abra un pequeño modal con estrellas para calificar de 1-5 y abajo aparezca un boton que diga "ingresar monto extra" )
-->