img{
    .foto-perfil{

        --background: src="https://docs-demo.ionic.io/assets/madison.jpg" ;
        margin: auto;
        border-radius: 50%; 
        width: 200px; 
        height: 200px;
    }

}