<ion-header [translucent]="true" class="fondo">
  <ion-toolbar class="fondoo">
    <div class="ion-text-center ion-align-items-center ion-justify-content-start ion-row">
      <ion-avatar class="ion-align-self-start ion-padding-end" (click)="irACuenta()">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-title class="ion-align-self-start letra">TellevoApp</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">

  <div class="container">
    
    
  </div>
  <div class="container">
    <ion-searchbar animated="true" class="barra-busqueda" show-clear-button="focus" value="" placeholder="Viajar"></ion-searchbar>
    


    <div class="container">

      <div class="historial">
        <h5 class="letra">últimos viajes</h5>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="full" class="boton-viaje botones-color-fondoo">
                <ion-icon name="car-sport-outline" slot="start"></ion-icon>
                <span class="texto-boton">Aqui se insertata la direccion</span>
              </ion-button>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" class="boton-viaje botones-color-fondoo">
                <ion-icon name="car-sport-outline" slot="start"></ion-icon>
                <span class="texto-boton">Viaje 1</span>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" class="boton-viaje botones-color-fondoo">
                <ion-icon name="repeat-outline" slot="start"></ion-icon>
                <span class="texto-boton">Repetir</span>
              </ion-button>
            </ion-col>
          </ion-row>
          
        </ion-grid>
      </div>
    </div>
  </div>  

   <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12 ">
          <div class="wrapper">
            <b>Lugares mas visitados</b>
          
            <div class="ion-activatable ripple-parent rectangle">
              <ion-ripple-effect></ion-ripple-effect>
              <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Rectangular Image">
            </div>
          
            <div class="ion-activatable ripple-parent rounded-rectangle">
              <ion-ripple-effect></ion-ripple-effect>
              <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Rounded Image">
            </div>
          
            <div class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Circular Image">
            </div>
          </div>
          
        </ion-col>

      </ion-row>
    </ion-grid>
   </div>

   <div class="container">

    <div class="historial">
      <h5 class="letra">Favoritos</h5>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="full" class="boton-viaje botones-color-fondoo">
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <span class="texto-boton">Aqui se insertata la direccion</span>
            </ion-button>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="full" class="boton-viaje botones-color-fondoo">
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <span class="texto-boton">Aqui se insertata la direccion</span>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </div>
  </div>

   <div class="container-slide">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Imagen 1">
        </div>
        <div class="swiper-slide">
          <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Imagen 2">
        </div>
        <div class="swiper-slide">
          <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Imagen 2">
        </div>
        <div class="swiper-slide">
          <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Imagen 2">
        </div>
        <div class="swiper-slide">
          <img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Imagen 2">
        </div>
      </div>
    </div>
    
   </div>

</ion-content>


