<ion-app>
  <ion-router-outlet>
    
    <ion-tabs class="tab">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="inicio">
          <ion-icon name="home-outline"></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button tab="actividad">
          <ion-icon name="map-outline"></ion-icon>
          actividad
        </ion-tab-button>
        <ion-tab-button tab="configuracion">
          <ion-icon name="settings-outline"></ion-icon>
          configuracion
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>





  </ion-router-outlet>
</ion-app>
