<ion-header [translucent]="true" class="fondo">
  <ion-toolbar class="fondoo">
    <div class="ion-text-center ion-align-items-center ion-justify-content-start ion-row">
      <ion-avatar class="ion-align-self-start ion-padding-end">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-title class="ion-align-self-start letra">Actividad</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="fondo">

</ion-content>
